@import 'variables';
// Generic CSS
body {
	font-weight: 400;
	color: $black-color;
	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
button {
	text-decoration: $none-value;
	box-shadow: $none-value;
	outline: $none-value;
}
.no-padding{
	padding:$zero-value;
}

.no-margin{
	margin:$zero-value;
}

.no-border {
	border:$zero-value;
}

header {
	.navbar {
			.logo-div {
				background-color: $black-color;
				padding-right: 270px;
				padding-bottom: 45px;
				padding-left: 110px;
				img {
					width: 190px;
				}
			}
			.menu-div {
				background-color:$primary-color;
				padding-bottom: 10px;
				padding-top: 45px;
				li {
					padding-right:35px;
					a {
						padding-top: 10px;
					    padding-bottom: 10px;
					    color: $black-color;
					    font-weight: 700;
					    text-decoration: underline;
					    &:hover,
					    &.active {
							background-color: $black-color;
							color: $white-color;
							border-radius:30px;
							padding-top: 10px;
						    padding-bottom: 10px;
						}
					}
				}
			}
		}
	}

.banner-section {
	background-image: url("../images/banner.png");
	background-size:cover;
	text-align: center;
	height: 500px;
	// margin-bottom: 40px;
	.banner-div {
		padding-top: 80px;
	}
	.banner1-div {
		margin-top: 100px;
		h1 {
			color: $white-color;
			padding-bottom: 20px;
		}
		h2 {
			color: $white-color;
			font-weight: 400;
			padding-bottom: 40px;
		}
	}
	.banner2-div {
		margin-top: 100px;
		h1 {
			color: $white-color;
			padding-bottom: 20px;
		}
		h2 {
			color: $white-color;
			font-weight: 400;
			padding-bottom: 40px;
		}
		// button {
		// 	font-weight: 300;
		// 	background-color: transparent;
		// 	color: $primary-color;
		// 	border-color: $primary-color;
		// 	border-radius: 20px;
		// }
	}
	.btn-default {
			font-weight: 300;
			background-color: transparent;
			color: $primary-color;
			border-color: $primary-color;
			border-radius: 20px;
	}
}

.check-section {
	text-align: center;
	.check-div {
		margin: 50px 0 50px 0;
	.underline {
		border-bottom: 2px solid #ddd;
	    border-radius: 1px;
	    border-color: $primary-color;
	    max-width: 120px;
	    margin-left: 510px;
	    margin-bottom: 40px;
	}
	h3 {
		font-weight: 600;
		// text-decoration: underline;
		text-decoration-color: $primary-color;
		color: $black-color;
		// padding-bottom:30px;
		// padding-top: 30px;
	   }
	}
	.check-image-div {
		margin-left: 350px;
		.navbar-brand {
		    height: 180px;
		    margin: 0 20px 0 20px;
						}
			img {
			    display: block;
			    // padding-right: 70px;
			    height: 70px;
	   			}
	   		p {
	   			color: $black-color;
	   			font-weight: 600;
	   			margin-top: 10px;
	   		}
	}
}

.form-section {
	background-color:$primary-color;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	.form-div{
		// display: inline-block;
		// padding-bottom: 20px;
		.form-control {
			// display: inline-block !important;
	  //  		width: 40% !important;
	  //  		margin-top: 20px;
	  //  		margin-right: 30px;
		}
		button {
			font-weight: 400;
			background-color: $black-color;
			color: $white-color;
			border-radius: 20px;
			margin-top: 20px;
			border-color:$black-color;
			padding:5px 20px 5px 20px;
			margin-top: 40px;
		}
	}
}

.claim-section {
	text-align: center;
	// margin-bottom:20px;
.claim-div {
	h3 {
		font-weight: 700;
		text-decoration-color: $primary-color;
		color: $black-color;
		margin-top: 80px;
	   }
	p {
		line-height: 1.9;
		font-size: 15px;
		font-weight: 400;
		color: $grey-color;
	}
	.underline {
		border-bottom: 2px solid #ddd;
	    border-radius: 1px;
	    border-color: $primary-color;
	    max-width: 120px;
	    margin-left: 510px;
	    text-align: center;
	    margin-bottom: 40px;
	}
}
}

.rights-section {
	text-align: center;
	color: $grey-color;
	.rights-div {
		// margin-top: 5px;
	}
}

// Explore Page CSS Begin

.map-section {
		background-color:#3A3531;
		// text-align: center;
		.button-div {
					text-align: center;
					.btn-default {
						margin-top: 10px;
						margin-bottom: 40px;
						font-weight: 400;
						background-color: $black-color;
						color: $primary-color;
			    		margin-top: 30px;
			    		border-radius: 10px;
			    		border-color: $primary-color;
						}
					}
		.content-div {
			padding-top: 30px;
			.image-div {
						img{
							padding-bottom:30px;
							padding-top: 30px;
							}
						}
			.steps-div {
			  			background-color: $primary-color;
			  			text-align: center;
			  			padding-top: 10px;
			  			strong {
			  				margin-bottom: 5px;
			  				font-size: Medium;
			  			}
			  			ul {
			  				margin: 10px 0 20px 0;
			  				padding-left: 7px;
				  			li {
				  				
				  				font-size: 14px;
				  				text-align: left !important;
				  				margin-left: 10px;
				  				color: $black-color;
				  				font-weight: 500;
				  			}
				  			.location-div {
				  					input {
				  						color:$black-color;
				  					}
				  				}
				  			p {
				  						font-size: 14px;
				  						font-weight:500; 
				  					}
			  			}
			  		}
			.map-div {
	  				height: 428px !important;
	  				.controls {
						    position: absolute;
						    top: 10px;
						    left: 10px;
						    z-index: 99;
							}
					.search-div {

					}
	  			}
	  		.marker-div {
	  					strong {
			  				text-align: center;
			  				font-size: medium;
			  			}	
	  					}
			.btn-default {
				margin-bottom: 20px;
				font-weight: 400;
				background-color: $black-color;
				color: $primary-color;
	    		margin-top: 10px;
	    		border-radius: 10px;
	    		border-color: $primary-color;
			}
			// 	.btn-default {
			// 	background-color: $primary-color;
			// 	border-color: $primary-color;
			// 	color: $black-color;
			// }
	}
}

.purpose-section {
	margin-top: 50px;
	.purpose-div {
		margin-bottom: 150px;
		.purpose-head-div {
			margin: 40px 0 0 180px;
			padding-top: 20px;
			text-align: center;
			background-color: orange;
			img {
				height: 140px;
			}
			h1 {
				color: $white-color;
				font-weight: 600;
				margin-bottom: 40px;
			}
		}
		.purpose-text-div {
			margin: 130px 0 0 500px;
			padding: 30px;
			text-align: left;
			position:absolute;
			background-color: $white-color;
			box-shadow: 0 0 8px $grey-color;
			p{
				text-align: left;
				font-weight: 500;
			}
		}
	}
}

// Report Page CSS

.report-section {
	background-color: #3A3531;
	.report-div {
		text-align: center;
		margin: 20px 0 20px 0;
		.map-style-div {
  			margin: 20px 0 20px 0;
		}
	.map-div {
  				width: 870px !important;
  				height: 443px !important;
  				z-index: 9;
  			}
  	.report-option-div {
  		    background-color: $primary-color;
		    margin-right: 9px;
		    color: $black-color;
  		.steps-div {
  			// color: $white-color;
  			// background-color: $black-color;
  			strong {
  				text-align: center;
  				font-size: 22px;
  			}
  			p {
  				font-size: 16px;
  				text-align: center;
  				margin-left: 8px;
  				font-weight: 600;
  				margin-bottom: 20px;
  			}
  		}
  		.enter-address-div {
  			margin-bottom: 50px;
  			strong {
  				margin-bottom: 10px;
  				font-size: 22px;
  			}
  		}
  		.types-div {
  			margin-bottom: 25px;
  			// margin-top: 10px;
  			strong {
  				// color: $white-color;
  				margin-bottom: 10px;
  				font-size: 22px;
  			}
  			.form-control {
  				margin-top: 3px !important;
  			}
  		}
  		.option-div {
  			// margin-bottom: 15px;
  			margin-top: 15px;
  			img {
  				width: 50px;
  				float: left;
  			}
  			.text-div {
  				padding-left: 75px;
			    text-align: justify;
			    color: $black-color;
			    font-weight: 500;
  			}
  		}
  			.report-button {
				// font-weight: 300;
				// background-color: transparent;
				// color: $primary-color;
				// border-color: $primary-color;
				// border-radius: 20px;
				background-image: url("../images/report.png");
			    background-repeat: no-repeat;
    			background-position: center center;
    			width: 89px; // replace with actual width
				height: 31px; // replace with actual height
				display: inline-block;
				border-color: $primary-color;
				margin-bottom: 10px;
			}
  	}
	}
}

.result {
	// position: absolute;
 //    top: 0;
 //    bottom: 0;
 //    left: 0;
 //    right: 0;
 //    background-color: rgba(0, 0, 0, 0.5);
 	position: absolute;
    width: calc(100% - 26px);
    text-align: center;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    color: $primary-color;
    .inner-div {
    	max-width: 400px;
	    display: inline-block;
	    background-color: #fff;
	    margin-top: 50px;
	    padding: 40px 15px;
    }
    &.show {
    	z-index: 1;
    	opacity: 1;
    	visibility: visible;
    }
}

//itinerary Page CSS

.iti-banner-section {
	background-color:#3A3531;
	.iti-baner {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.iti-banner-div {
		padding-top: 35px;
		text-align: center;
		background-color: $primary-color;
		h1 {
			color: $black-color;
			margin-bottom: 20px;
			margin-top: 20px
		}
		h4 {
			color: $black-color;
			font-weight: 400;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		.form-control {
			height: 25px;
    		margin: 0 0 10px 0;
		}
		button {
			// font-weight: 400;
			// background-color: $black-color;
			// color: $white-color;
			// border-radius: 20px;
			// margin-top: 5px;
   //  		margin-bottom: 10px;
			// border-color:$black-color;
			// padding:5px 20px 5px 20px;
			background-image: url("../images/go.png");
			    background-repeat: no-repeat;
    			background-position: center center;
    			width: 90px; // replace with actual width
				height: 48px; // replace with actual height
				display: inline-block;
				border-color: $primary-color;
				margin-bottom: 10px;
		}
		button:hover {
			color: $primary-color;
		}
		.route-div {
		text-align: center;
		margin-bottom: 30px;
		h1 {
			color: $black-color;
		}
		.your-result {
			strong{
				color:$black-color;
			}
			}
		.route-option-div {
			background-color: $white-color;
			margin-bottom: 40px;
			.distance {
				display: inline-block;
			}
			.time {
				display: inline-block;
			}
		}
	}
	}
}
// itinerary tooltip


.route-section {
	background-color:#3A3531;
	.route-div {
		text-align: center;
		margin-bottom: 30px;
		h1 {
			color: $black-color;
		}
		.your-result {
			strong{
				color:$primary-color;
			}
			}
		.route-option-div {
			background-color: $white-color;

			.distance {
				display: inline-block;
			}
			.time {
				display: inline-block;
			}
		}
	}
}



//contact page Css

.team-section {
	background-color: #3A3531;
	.team-div {
		margin: 20px 0 20px 0;
		h1 {
		text-align: center;
		color: $primary-color;
		margin-bottom: 30px;
		}
		p {
			margin: 0 0 10px;
		    font-size: 16px;
		    font-weight: 600;
		    color: white;
		    line-height: 1.8em;
		}
		.right-div {
			margin-top: 20px;
		h3 {
			color: $primary-color;
		}
		img {
			float: left;
		}
	  }
	  .left-div {
	  	margin-top: 40px;
		h3 {
			color: $primary-color;
		}
		img {
			float: right;
		}
		p {
			padding-right: 180px;
			font-size: 17px;
			color: $white-color;
			margin-top: 18px;
		}
	  }
	}
}


.contact-section{
	background-color: $primary-color;
	padding-bottom:30px;
	.contact-div {
		text-align: center;
		color:$black-color;
			.underline {
				border-bottom: 2px solid #ddd;
			    border-radius: 1px;
			    border-color: $black-color;
			    max-width: 100px;
			    margin-left: 517px;
			    margin-bottom: 40px;
			}
		p {
			font-size: 16px;
			font-weight: 600;
		}
		.email-div {
			margin-top: 20px;
			background-color: $white-color;
			img{
				margin: 10px 0 10px 0;
			}
			a {
				color: $black-color;
				font-weight: 600;
			}
		}
	}
}


// share div style
.share-div {
	height:5em;
	width: 4em;
	float:left;
	margin-top: 130px;
}

//Explore page calender css
.map-section .content-div .btn .status {
	background-color: $white-color;
    padding: 6px;
    font-weight: 300;
    font-size: 13px;
    background-color: #000000 !important;
    color: #ffd200 !important;
    border-radius: 7px;
    border-color: #ffd200 !important;
}

.bs-example-modal-sm {
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    z-index: -1;
    padding: 10px;
    &.in {
    	z-index: 1050;
    }
    .modal-content {
    	padding: 15px;
    	background-color:$primary-color;
    	text-align: center;
    	p {
    		font-weight: 600;
    		font-size: 16px;
    	}
    }
}