body {
  font-weight: 400;
  color: #000000 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a,
button {
  text-decoration: none !important;
  box-shadow: none !important;
  outline: none !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: 0 !important; }

header .navbar .logo-div {
  background-color: #000000 !important;
  padding-right: 270px;
  padding-bottom: 45px;
  padding-left: 110px; }
  header .navbar .logo-div img {
    width: 190px; }
header .navbar .menu-div {
  background-color: #ffd200 !important;
  padding-bottom: 10px;
  padding-top: 45px; }
  header .navbar .menu-div li {
    padding-right: 35px; }
    header .navbar .menu-div li a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #000000 !important;
      font-weight: 700; }
    header .navbar .menu-div li a:hover {
      background-color: #000000 !important;
      color: #ffffff !important;
      border-radius: 30px;
      padding-top: 10px;
      padding-bottom: 10px; }

.banner-section {
  background-image: url("../images/banner.png");
  background-size: cover;
  text-align: center;
  height: 500px; }
  .banner-section .banner-div {
    padding-top: 80px; }
  .banner-section .banner1-div {
    margin-top: 100px; }
    .banner-section .banner1-div h1 {
      color: #ffffff !important;
      padding-bottom: 20px; }
    .banner-section .banner1-div h2 {
      color: #ffffff !important;
      font-weight: 400;
      padding-bottom: 40px; }
  .banner-section .banner2-div {
    margin-top: 100px; }
    .banner-section .banner2-div h1 {
      color: #ffffff !important;
      padding-bottom: 20px; }
    .banner-section .banner2-div h2 {
      color: #ffffff !important;
      font-weight: 400;
      padding-bottom: 40px; }
  .banner-section .btn-default {
    font-weight: 300;
    background-color: transparent;
    color: #ffd200 !important;
    border-color: #ffd200 !important;
    border-radius: 20px; }

.check-section {
  text-align: center; }
  .check-section .check-div {
    margin: 50px 0 50px 0; }
    .check-section .check-div .underline {
      border-bottom: 2px solid #ddd;
      border-radius: 1px;
      border-color: #ffd200 !important;
      max-width: 120px;
      margin-left: 510px;
      margin-bottom: 40px; }
    .check-section .check-div h3 {
      font-weight: 600;
      text-decoration-color: #ffd200 !important;
      color: #000000 !important; }
  .check-section .check-image-div {
    margin-left: 350px; }
    .check-section .check-image-div .navbar-brand {
      height: 180px;
      margin: 0 20px 0 20px; }
    .check-section .check-image-div img {
      display: block;
      height: 70px; }
    .check-section .check-image-div p {
      color: #000000 !important;
      font-weight: 600;
      margin-top: 10px; }

.form-section {
  background-color: #ffd200 !important;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }
  .form-section .form-div button {
    font-weight: 400;
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 20px;
    margin-top: 20px;
    border-color: #000000 !important;
    padding: 5px 20px 5px 20px;
    margin-top: 40px; }

.claim-section {
  text-align: center; }
  .claim-section .claim-div h3 {
    font-weight: 700;
    text-decoration-color: #ffd200 !important;
    color: #000000 !important;
    margin-top: 80px; }
  .claim-section .claim-div p {
    line-height: 1.9;
    font-size: 15px;
    font-weight: 400;
    color: #808080 !important; }
  .claim-section .claim-div .underline {
    border-bottom: 2px solid #ddd;
    border-radius: 1px;
    border-color: #ffd200 !important;
    max-width: 120px;
    margin-left: 510px;
    text-align: center;
    margin-bottom: 40px; }

.rights-section {
  text-align: center;
  color: #808080 !important; }

.map-section {
  background-color: #3A3531;
  text-align: center; }
  .map-section .map-div img {
    padding-bottom: 30px;
    padding-top: 30px; }
  .map-section .map-div p {
    color: #ffffff !important;
    font-size: 15px;
    margin-bottom: 20px; }
  .map-section .map-div button {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    background-color: #000000 !important;
    color: #ffd200 !important;
    margin-top: 30px;
    border-radius: 10px;
    border-color: #ffd200 !important; }
  .map-section .map-div .btn-default {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    background-color: #000000 !important;
    color: #ffd200 !important;
    margin-top: 30px;
    border-radius: 10px;
    border-color: #ffd200 !important; }

.purpose-section {
  margin-top: 50px; }
  .purpose-section .purpose-div {
    margin-bottom: 150px; }
    .purpose-section .purpose-div .purpose-head-div {
      margin: 40px 0 0 180px;
      padding-top: 20px;
      text-align: center;
      background-color: orange; }
      .purpose-section .purpose-div .purpose-head-div img {
        height: 140px; }
      .purpose-section .purpose-div .purpose-head-div h1 {
        color: #ffffff !important;
        font-weight: 600;
        margin-bottom: 40px; }
    .purpose-section .purpose-div .purpose-text-div {
      margin: 130px 0 0 500px;
      padding: 30px;
      text-align: left;
      position: absolute;
      background-color: #ffffff !important;
      box-shadow: 0 0 8px #808080 !important; }
      .purpose-section .purpose-div .purpose-text-div p {
        text-align: left;
        font-weight: 500; }

.report-section {
  background-color: #3A3531; }
  .report-section .report-div {
    text-align: center;
    margin: 20px 0 20px 0; }
    .report-section .report-div .map-style-div {
      margin: 20px 0 20px 0; }
    .report-section .report-div .map-div {
      width: 870px !important;
      height: 464px !important; }
    .report-section .report-div .report-option-div .steps-div {
      color: #ffffff !important;
      background-color: #000000 !important; }
      .report-section .report-div .report-option-div .steps-div strong {
        text-align: center;
        font-size: medium; }
      .report-section .report-div .report-option-div .steps-div p {
        font-size: 14px;
        text-align: left;
        margin-left: 8px; }
    .report-section .report-div .report-option-div .types-div {
      margin-bottom: 10px; }
      .report-section .report-div .report-option-div .types-div strong {
        color: #ffffff !important;
        margin-bottom: 10px;
        font-size: medium; }
      .report-section .report-div .report-option-div .types-div .form-control {
        margin-top: 3px !important; }
    .report-section .report-div .report-option-div .option-div {
      margin-top: 25px; }
      .report-section .report-div .report-option-div .option-div img {
        width: 60px;
        float: left; }
      .report-section .report-div .report-option-div .option-div .text-div {
        padding-left: 75px;
        text-align: justify;
        color: #ffffff !important; }
    .report-section .report-div .report-option-div button {
      font-weight: 300;
      background-color: transparent;
      color: #ffd200 !important;
      border-color: #ffd200 !important;
      border-radius: 20px; }

.result {
  position: absolute;
  width: calc(100% - 26px);
  text-align: center;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  color: #ffd200 !important; }
  .result .inner-div {
    max-width: 400px;
    display: inline-block;
    background-color: #fff;
    margin-top: 50px;
    padding: 40px 15px; }
  .result.show {
    z-index: 1;
    opacity: 1;
    visibility: visible; }

.iti-banner-section {
  background-image: url("../images/Asset.png");
  background-size: cover;
  text-align: center;
  height: 380px; }
  .iti-banner-section .iti-banner-div {
    padding-top: 35px; }
    .iti-banner-section .iti-banner-div h1 {
      color: #ffd200 !important;
      margin-bottom: 20px;
      margin-top: 20px; }
    .iti-banner-section .iti-banner-div h4 {
      color: #ffffff !important;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 20px; }
    .iti-banner-section .iti-banner-div .form-control {
      height: 45px; }
    .iti-banner-section .iti-banner-div button {
      font-weight: 400;
      background-color: #000000 !important;
      color: #ffffff !important;
      border-radius: 20px;
      margin-top: 20px;
      border-color: #000000 !important;
      padding: 5px 20px 5px 20px; }
    .iti-banner-section .iti-banner-div button:hover {
      color: #ffd200 !important; }

.route-section {
  background-color: #3A3531; }
  .route-section .route-div {
    text-align: center;
    margin-bottom: 30px; }
    .route-section .route-div h1 {
      color: #ffffff !important; }
    .route-section .route-div .route-option-div {
      background-color: #ffffff !important; }
      .route-section .route-div .route-option-div .direction {
        display: inline-block; }
      .route-section .route-div .route-option-div .distance {
        display: inline-block; }
      .route-section .route-div .route-option-div .time {
        display: inline-block; }

.team-section {
  background-color: #3A3531; }
  .team-section .team-div {
    margin: 20px 0 20px 0; }
    .team-section .team-div h1 {
      text-align: center;
      color: #ffd200 !important; }
    .team-section .team-div .right-div {
      margin-top: 20px; }
      .team-section .team-div .right-div h3 {
        color: #ffd200 !important; }
      .team-section .team-div .right-div img {
        float: left; }
      .team-section .team-div .right-div p {
        padding-left: 180px;
        font-size: 17px;
        color: #ffffff !important;
        margin-top: 18px; }
    .team-section .team-div .left-div {
      margin-top: 40px; }
      .team-section .team-div .left-div h3 {
        color: #ffd200 !important; }
      .team-section .team-div .left-div img {
        float: right; }
      .team-section .team-div .left-div p {
        padding-right: 180px;
        font-size: 17px;
        color: #ffffff !important;
        margin-top: 18px; }

.contact-section {
  background-color: #ffd200 !important;
  padding-bottom: 30px; }
  .contact-section .contact-div {
    text-align: center;
    color: #000000 !important; }
    .contact-section .contact-div .underline {
      border-bottom: 2px solid #ddd;
      border-radius: 1px;
      border-color: #000000 !important;
      max-width: 100px;
      margin-left: 517px;
      margin-bottom: 40px; }
    .contact-section .contact-div p {
      font-size: 16px;
      font-weight: 600; }
    .contact-section .contact-div .email-div {
      margin-top: 20px;
      background-color: #ffffff !important; }
      .contact-section .contact-div .email-div img {
        margin: 10px 0 10px 0; }
      .contact-section .contact-div .email-div a {
        color: #000000 !important;
        font-weight: 600; }

/*# sourceMappingURL=style.css.map */
