$black-color: #000000 !important;
$primary-color: #ffd200 !important;
$secondary-color: blue !important;
$white-color: #ffffff !important;
$grey-color: #808080 !important;

$none-value: none !important;
$zero-value: 0 !important;